NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hireme_db

# Redis Configuration
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_DB=7
REDIS_PASSWORD=
REDIS_TTL=6000

# JWT Configuration
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1d
